{{> navbar}}
<div class="container-fluid">
    <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Export Demo</h3>
                    </div>
                    {{#if students}}
                    <div class="card-body">
                      <button  class="btn btn-md btn-success clearfix pull-right" onclick="exportexcel()" >
                        <span class="fa fa-file-pdf-o"> </span> Export to Excel</button>

                        <button id="exportButton" class="btn btn-md btn-danger clearfix pull-right"><span class="fa fa-file-pdf-o"></span> Export to PDF</button>
                      <table class="table table-striped table-hover exportTable myTable" id="example">
                        <thead>
                          <tr>
                            
                                <th>#</th>
                                <th>Projects</th>
                                <th>Name</th>
                                <th>Id</th>
                                <th>Supervisor</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each students}}


                            <tr>
                              
                              {{!-- <th scope="row">  {{@key}}</th>
                              <td>{{memberName}}</td>
                              <td>{{memberId}}</td>
                              <td>{{memberEmail}}</td>
                              <td>{{supervisorName}}</td>
                              {{!-- <td>{{#with 0.memberId}}
                                    <h2>{{this}}</h2>
                                    {{/with}}
                              </td> --}}
                              <th scope="row">{{@key}}</th>
                              <td>{{projectName}}</td>
                              <td>{{memberName}}</td>
                              <td>{{memberId}}</td>
                              <td>{{supervisorName}}</td>
                             
                            </tr> 
                
                          
                          {{/each}}
                      </table>
                    </div>
                    {{/if}}


                    {{#if defense}}
                    <div class="card-body">
                        <button id="exportButton" class="btn btn-md btn-danger clearfix pull-right"><span class="fa fa-file-pdf-o"></span> Export to PDF</button>
                      <table class="table table-striped table-hover exportTable" id="example">
                        <thead>
                          <tr>
                            
                                <th>#</th>
                                <th>Projects</th>
                                <th>Name</th>
                                <th>Id</th>
                                <th>Supervisor</th>
                                <th>Time</th>
                                {{!-- <th>Ending time</th> --}}
                          </tr>
                        </thead>
                        <tbody>
                          {{#each defense}}


                            <tr>
                              
                              
                              <th scope="row">  {{@key}}</th>
                              <td>{{projectName}}</td>
                              <td>{{memberName}}</td>
                              <td>{{memberId}}</td>
                              <td>{{supervisorName}}</td>
                              <td>{{this._v}}</td>   
                              {{!-- <td>{{ending}}</td> --}}
                             
                             
                            </tr> 
                
                          
                          {{/each}}
                          
                              
                           
                        
                      </table>
                    </div>
                    {{/if}}


                  </div>
                </div>
</div>