
{{> navbar}}
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Proposals</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Proposals</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              {{#if message}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Proposal </strong> {{ message}}.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

            {{/if}}
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Proposal List</h3>
                    </div>
                    {{!-- proposal --}}
                    {{#if proposal}}			
                        <div class="card-body">
                                            
                            <table class="table table-striped table-hover" id="example">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Title</th>
                                  <th>Type</th>
                                  <th>Id</th>
                                  <th>Remove</th>
                                </tr>
                              </thead>
                              <tbody>
                                {{#each proposal}}


                            <tr>
                              
                              <th scope="row">  {{@key}}</th>
                              <td>
                                  <div class="text">
                                      <a href="/proposals/{{0._id}}"><h3 class="h4">{{0.projectName}}</h3></a><br><small>Lorem Ipsum Dolor</small>
                                  </div>
                              </td>
                              <td>{{0.projectType}}</td>
                              <td>{{#with 0.memberId}}
                                    <h2>{{this}}</h2>
                                    {{/with}}
                              </td>
                              <td>
                                    {{!-- <button class="btn btn-danger">Remove</button> --}}
                                    <a href="/remove-accepted-proposal/{{0._id}}" class="remove">Remove</a>
                                </td>
                             
                            </tr> 
                
                          
                          {{/each}}

                                
                                
                                </tr>
                              </tbody>
                            
                            </table>
                                  
                            
                          </div>
                        {{/if}}
                    {{!-- proposal --}}
                    {{!-- projectSubmit --}}
                        {{#if projectSubmit}}			
                        <div class="card-body">
                                            
                            <table class="table table-striped table-hover" id="example">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Title</th>
                                  <th>Type</th>
                                  <th>Id</th>
                                 
                                </tr>
                              </thead>
                              <tbody>
                                {{#each projectSubmit}}
                        
                            <tr>
                              
                              <th scope="row">  {{@key}}</th>
                              <td>
                                  <div class="text">
                                      <a href="/proposals/{{this._id}}"><h3 class="h4">{{projectName}}</h3></a><br><small>Lorem Ipsum Dolor</small>
                                  </div>
                              </td>
                              <td>{{projectType}}</td>
                              <td>{{#with memberId}}
                                    <h2>{{this}}</h2>
                                    {{/with}}
                              </td>
                             
                            </tr> 
                          
                          {{/each}}

                                
                                
                                </tr>
                              </tbody>
                            
                            </table>
                                  
                            
                          </div>
                        {{/if}}
                    {{!-- projectSubmit --}}
                    {{!-- students --}}
                    {{#if students}}			
                        <div class="card-body">
                                            
                            <table class="table table-striped table-hover" id="example">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Title</th>
                                  <th>Type</th>
                                  <th>Id</th>
                                 
                                </tr>
                              </thead>
                              <tbody>
                                {{#each students}}


                            <tr>
                              
                              <th scope="row">  {{@key}}</th>
                              <td>
                                  <div class="text">
                                      <h3 class="h4">{{memberName}}</h3>
                                  </div>
                              </td>
                              <td>{{memberId}}</td>
                              {{!-- <td>{{#with 0.memberId}}
                                    <h2>{{this}}</h2>
                                    {{/with}}
                              </td> --}}
                             
                            </tr> 
                
                          
                          {{/each}}

                                
                                
                                </tr>
                              </tbody>
                            
                            </table>
                                  
                            
                          </div>
                        {{/if}}
                    {{!-- students --}}
                    
                  </div>
                </div>
               
              </div>
            </div>
             
          </section>
         {{> footer}}
         